<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Multer Upload</title>
    </head>
    <body>
        <h1>Khoa Pham Training</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <input type="text" name="username" value="vanpho93">
            <button>Upload File</button>
        </form>
    </body>
</html>